
<form [formGroup]="formularioDuda">
  <div class="mt-4 todo">
    <h4 class="mx-3 my-3 center">Duda</h4>
    <input type="text" class="ddd" formControlName="mensaje" placeholder="escribir duda">
    <!-- <div class="derecha"> -->
        <!-- mat-raised-button -->
      <button class="my-3 mx-3 btn-block" [disabled]="!formularioDuda.valid" (click)="enviarDuda()">Enviar Pregunta</button>
    <!-- </div> -->
  </div>
</form>

<mat-card class="mt-2" *ngFor="let duda of dudas">
    <mat-card-header>
        <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>{{duda.usuario}}</mat-card-content>
    <form [formGroup]="nuevoFormulario">
      <ul [id]="'x'+ duda._id">
        <li *ngFor="let pregunta of duda.pregunta"> {{ pregunta }} </li>
        <!-- <li><input></li> -->
        <!-- <mat-card-subtitle [id]="'x' + duda.usuario" [ngClass]="'carmat' + duda.usuario">{{ pregunta }}</mat-card-subtitle> -->
      </ul>
    </form>
    <mat-card-actions>
        <button mat-raised-button (click)="openDialog(duda._id, false)" color="warn">Eliminar</button>
        <button class="ml-2" (click)="responder(duda._id)" >Responder</button>
    </mat-card-actions>
</mat-card>


<div class="row">
  <button class="my-4 col-8 offset-2 botonespecial" [disabled]="disabled" (click)="getComentario()"> {{ boton }} </button>
</div>



<!-- Modal -->
<div class="modall animate fade-out" id="modaluno">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar comentario</h5>
        <button type="button" class="close" aria-label="Close" (click)="openDialog('', true)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        deseas eliminar este comentario ?
      </div>
      <div class="modal-footer">
          <button type="button" mat-button (click)="openDialog('', true)">Cancelar</button>
        <button type="button" mat-raised-button (click)="cerrarModal()" color="warn">Eliminar</button>
      </div>
    </div>
  </div>
</div>