ul {
  list-style-type: none;
}

mat-card {
  background-color: white;
  border: 1px solid #dee2e6;
}

.botonespecial {
  /* box-shadow: 3px 3px 5px rgb(209, 116, 204); */
  box-shadow: 1px 1px tomato;
  padding: 5px 5px;
  border: none;
  /* border-radius: 5px; */
  box-sizing: border-box;
  transition: all .8s ease;
  background-color: darkorange;
  color: black;
  border-radius: 5px;
  transition: all .8s ease;
}

.botonespecial:hover {
  /* box-shadow: 3px 3px 5px rgb(209, 116, 204); */
  box-shadow: 1px 1px tomato;
  padding: 5px 5px;
  border: none;
  /* border-radius: 5px; */
  box-sizing: border-box;
  transition: all .8s ease;
  background-color: darkred;
  color: whitesmoke;
  border-radius: 5px;
}

.modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

input {
  /* border: none; */
  width: 100%;
  outline: none;
  border-radius: 5px;
  /* background-color: rgb(56, 60, 63); */
  border-bottom: 3px solid #39c;
  padding: 15px 22px;
  margin-right: 100px;
  box-sizing: border-box;
  /* color: rgb(241, 245, 245); */
  transition: all .8s ease;
  color: black;
}

div input{
  width: 95%;
  margin-bottom: 30px;
  
  margin-left: 30px;
  
}

input[type="text"]:focus{
  border-bottom: 4px solid rgb(143, 55, 243);

}
ul li input:focus{
  border-bottom: 4px solid rgb(143, 55, 243);
}

h4{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-block{
  width: 97%;
  box-shadow: 3px 3px 5px rgb(209, 116, 204);
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .8s ease;
  background-color: crimson;
}

.btn-block:hover{
  background: rgb(87, 61, 61);
  color: whitesmoke;
}

mat-card mat-card-actions button:nth-of-type(2) {
  box-shadow: 3px 3px 5px rgb(209, 116, 204);
  color: gray;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .8s ease;
}

mat-card mat-card-actions button:nth-of-type(2):hover {
  background: rgb(87, 61, 61);
  color: whitesmoke;
}

mat-card ul button {
  box-shadow: 3px 3px 5px rgb(209, 116, 204);
  color: gray;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .8s ease;
  float: right;
}

mat-card ul button:hover {
  background: rgb(87, 61, 61);
  color: whitesmoke;
}


mat-card form ul li:not(:first-child)  {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
  color: gray;
  text-indent: 30pt;
}

mat-card form ul li:first-child  {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 18px;
  color: gray;
  /* text-indent: 30pt; */
}

/* mat-card form ul li:nth-last-child(2)  {
  background: #39c;
  margin-left: 0%;
  padding: 0%;
} */

.fff{
  width: 90%;
}
.todo{
  border: 1px solid brown;
}


/* max si es menor a 700 lo hace  */
/* si es menor a 700 no lo hace */
@media only screen and (min-width: 300px){
  .todo {
    width: 100%;
  }

.ddd {
  /* width: 95%;
  margin-bottom: 30px;
  margin-left: 12px; */
}
input[type="text"]:focus{
  border-bottom: 4px solid rgb(143, 55, 243);
  /* width: 100%; */

}
ul li input:focus{
  border-bottom: 4px solid rgb(143, 55, 243);
  width: 100%;
}
  
}

/* min si es menor a 700 no lo hace  */
/* si es mayr a 700 lo hace */

/* @media only screen and (min-width: 500px){
  .todo {
    width: 100%;
  } */
  
   
/* } */

/* p:not(:first-child){}
p:not(:first-of-type){}
p:not(:checked){}
p:not(:last-child){}
p:not(:last-of-type){}
p:not(:first-of-type){}
p:not(:nth-last-of-type(2)){}
p:not(nth-last-child(2)){}
p:not(:nth-child(2)){} */






/* h1{selector por tagname */
	/* font-family: arial; */
/* } */

/* #some-id{selector por id */
	/* color: peru; */
/* } */

/* .some-class{selector por clase */
	/* border: 1px solid red; */
	/* margin: 10px; */
	/* padding: 10px; */
/* } */

/* ul.some-class{conjunción de clases */
	/* background: slategray; */
/* } */

/* ul.some-class li{selector por anidación */
	/* background: white; */
	/* color: slategray; */
	/* border-bottom: 1px solid slategray; */
/* } */

/* button{
	width: 100px;
	height: 30px;
	border: 1px solid navy;
	color: navy;
	background: none;
	border-radius: 5px;
	box-shadow: 3px 3px 10px #333;
	transition: all 1s ease;
	opacity: 1;
} */

/* button:hover{pseudoselector de estado */
	/* background: navy; */
	/* color: white; */
	/* cursor: pointer; */
	/* opacity: 0; */
/* } */

/* input[type="text"]{selector por atributo */
	/* width: 200px; */
	/* height: 30px; */
	/* background: white; */
	/* border: 1px solid #eaeaea; */
	/* box-shadow: 3px 3px 6px #333; */
	/* border-radius: 5px; */
/* } */

/* input[type="password"]{
	width: 200px;
	height: 30px;
	background: white;
	border: 1px solid #333;
	box-shadow: 3px 3px 6px #333;
	border-radius: 5px;
	padding-left: 10px;

} */

/* ul li:nth-of-type(3){
	background: peru;
}

ul li:nth-of-type(2n){
	background: red;
}

ul li:nth-of-type(2n + 3){
	background: skyblue;
} */

/*id="ordered-list"*/

/* ol#ordered-list li:nth-of-type(odd){
	background: lightgray;
}

ol li:nth-of-type(even){
	background: pink;
} */

/*=======*/

/*index.html*/

/* *{selector universal
	color: white;
	font-family: "arial";
}

body{
	background-image: linear-gradient(rgba(25,25,25,.2), rgba(0,0,0,.8) ),url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
} */

/* .container{
	display: flex;
}

#left-side{
	width: 40%;
	border: 1px solid white;
}

#right-side{
	width: 60%;
	border: 1px solid lightgray;
}

.p-20px{
	padding: 20px;
}
 */
