<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" (click)="cambiar()" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': mostrar}" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio/dudas">dudas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio/calendario">Calendario</a>
        <!-- routerLinkActive="sr-only" -->
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio/dudas">
              <button class="usuario">martin</button>
            </a>
          </li>
      <li class="nav-item float-md-right">
        <a class="nav-link" routerLink="/inicio/dudas">
          <img class="imagen mx-auto img-fluid rounded-circle" src="/assets/perfil.jpg" alt="responsive">
        </a>
      </li>
    </ul>
  </div>
</nav>