.derecha {
    margin-left: 20px;
}
ul {
    list-style-type: none;
}

img{
    /* background-color: darkred; */
}

.rounded-circle {
    height: 40px;
    margin: 0 0;
    width: 40px;
    max-width: 100%;
    margin-right: 700px;
    /* float: right; */
}

.mimsoRenglon{
    display: inline-block;
}

.usuario{
    margin: 2px 0px;
    padding: 11px;
    border: 0;
    background-color: #f8f9fa!important;
}