*{
    font-family: 'roboto';
    font-size: 16px;
    color: aliceblue;
}

/* .row {
    border: 1px solid white;
} */

form div{
    margin-top: 50px;
}

form button {
    /* margin-top: 50px; */
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 49, 48);
    color: #fff;
    /* font-size: 13px; */
    font-weight: 300;
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
    height: 40px;

}

.izquierda{
    width: 100%;
    height: 500px;
    /* display: inline-block; */
    /* border: 1px solid white; */
    transition: all 1s ease;
}

.btn:hover{
    background-color: #EF3829;
    color: black;
}


form input {
    color: #2f3640;
}

input{
    color: #2f3640;
}

.izquierda input:focus{
    /* text-align: center; */
    /* background-color: rgba(25,25,25,.1); */
    color: #2f3640;
    box-shadow: inset 0 0 10px #ffffff;
    border: none;
}

.izquierda input{
    /* text-align: center; */
    /* background-color: rgba(25,25,25,.1); */
    color: #2f3640;
    box-shadow: inset 0 0 10px #ffffff;
    border: none;
    width: 90%;
    margin-left: 20px;
    /* margin-right: 50px; */
}
.texto{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
}

.derecha{
    width: 100%;
    height: 500px;
}

.derecha button{
    cursor: pointer;
}

.card{
    /* background-color: rgba(0,0,0,.8); */
    height: 100%;
    background-color: #2f3640;
}
/* .derecha input{

} */

.color {
    margin: 0px;
    background-image: linear-gradient(to right, #ff5722, #ff9800);
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(to right,rgba(25,25,25,.1),rgba(0,0,0,.6)),url('./images.jpg'); */
    /* no se repita la imagen */
    background-repeat: no-repeat;
    /* para que cubra todo el fondo la imagen */
    background-size: cover;
    /* sirve para que no haga scroll se quede la imagen de pantalla */
    background-attachment: fixed;
}

.margen {
    margin-top: 125px;
    width: 90px;
    height: 500px;
}


.prueba{
    
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #EF3829;
    color: #fff;
    /* font-size: 13px; */
    font-weight: 300;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: 1px solid #EF3829;
}

/* .prueba:hover {
    background-color: #fff;
    color: #EF3829;
} */

small {
    color: #EF3829;
    /* text-align: center; */
    /* border: 1px solid #EF3829; */
    display: inherit;
    margin-top: 14px;
    border-bottom: 1px solid #EF3829;
}