<div class="color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1 margen">
                <div class="row" id="uno">
                    <div class="col-sm-12 col-md-6 izquierda">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="formularioLogin">
                                    <div class="form-group">
                                        <label>usuario</label>
                                        <input class="form-control" formControlName="user" placeholder="nombre de usuario">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" formControlName="pass" class="form-control" placeholder="Password">
                                    </div>
                                    <button type="submit" (click)="login()" class="btn btn-secondary btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 derecha">
                        <div class="card">
                            <div class="card-body">
                                <form [formGroup]="formulario">
                                    <div class="form-group">
                                        <label>usuario</label>
                                        <input class="form-control" formControlName="user" placeholder="nombre de usuario">
                                        <!-- <small *ngIf="formulario.errors?.igual" > errorororororor </small> -->
                                    </div>
                                    <div formGroupName="passwordGroup">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" formControlName="pass" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label>confirmar password</label>
                                            <input type="password" class="form-control" formControlName="pass2" placeholder="Password">
                                            <!-- acceder a los grmularios puede ser con "controls" o "get" -->
                                            <small *ngIf="formulario.get('passwordGroup').errors?.igual && (formulario.get('passwordGroup').touched || formulario.get('passwordGroup').dirty)">hhhhhh</small>
                                            <!-- loginForm.controls['email'].errors -->
                                            <!-- <small style="background: blue" *ngIf="formulario.errors?.igual" > errorororororor </small> -->
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="!formulario.valid" (click)="registrarte()" class="btn btn-secondary btn-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
<!--             
                {{ formulario.value | json }}
                {{ formulario.valid  }}
            
                <br />
                {{formularioLogin.value | json}} -->
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-6">
        <button class="prueba">jjhhhh</button>
    </div>
</div> -->
