<div class="color">

<div class="row text-center mt-4">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-secondary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        anterior
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        hoy
      </div>
      <div
        class="btn btn-secondary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        siguiente
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
</div>
<div class="row my-3 float-right float-sm-right">
<button mat-button (click)="addEvent()" class="btn btn-secondary">Agregar Evento</button>
</div>
<br>

<table style="background-color: #51747d" *ngIf="events.length && isAdmin">
  <thead>
    <tr>
      <th>Evento</th>
      <th>Color Primario</th>
      <th>Fecha de Incio</th>
      <th>Fecha Final</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; index as i;">
      <td>
          <input
          (ngModelChange)="prueba(i, event.id)"
          type="text"
          class="form-control aver"
          [(ngModel)]="event.title"
        />
      </td>
      <td>

        <!-- {{ event.color.primary | json }} -->
        <!-- [(ngModel)]="event.color.primary" -->
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (ngModelChange)="next($event, event.id)"
            
          />
        </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="fecha de Incio" [formControl]="date" (dateInput)="recibeFecha(event, $event)">
              <!-- (dateChange)="recibeFecha('change', $event)" -->
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="fecha final" [formControl]="fechaFinal" (dateInput)="recibeFechaFinal(event, $event)">
              <!-- (dateChange)="recibeFecha('change', $event)" -->
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
              <button class="mr-2 btn btn-info" (click)="deleteEvent(event)">
                Eliminar
              </button>
            </td>
    </tr>    
  </tbody>
</table>
<!-- (keyup)="refresh.next()"
(change)="refresh.next()" -->
</div>