/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background-color: buttonface;
 }


.izquierda {
    float: left;
}

h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }


  mat-form-field {
    margin-right: 12px;
  }

table thead tr th {
  text-align:center;
}